{namespace modules = CodingMs\Modules\ViewHelpers}
<td>
	<modules:variable.set name="categoryId" value="{modules:variable.get(name: 'listItem.{field}')}" />
	<nobr>
		<f:if condition="{modules:variable.get(name: 'list.category.icons.{categoryId}', useRawKeys: 1)}">
			<f:then><core:icon identifier="{modules:variable.get(name: 'list.category.icons.{categoryId}', useRawKeys: 1)}"/></f:then>
			<f:comment><f:else><core:icon identifier="{list.category.icons.1}"/></f:else></f:comment>
		</f:if>
		{modules:variable.get(name: 'list.category.items.{categoryId}', useRawKeys: 1)}
	</nobr>
</td>
