<div class="typo3-internalnotes-module">
	<f:flashMessages />
	<f:render section="Content" />
	<p style="text-align: right">OpenSource by <a href="https://www.coding.ms/" target="_blank" style="text-decoration: underline">coding.ms</a> | You like it? <a href="https://www.amazon.de/gp/registry/wishlist/2BF8E2V8GK20S" target="_blank" style="text-decoration: underline">Buy us a coffee</a>!</p>
</div>
