<f:layout name="Backend" />
<f:section name="Content">
	<h1><f:translate key="tx_downloadmanager_label.download_access_list" /></h1>
	<f:flashMessages />

	<div class="panel panel-default">
		<div class="panel-heading"><f:translate key="tx_internalnotes_label.backend_filter" /></div>
		<div class="panel-body">
			<f:form class="form-inline">
				<div class="form-group">
					<f:form.select name="category" class="form-control"
								   options="{list.category.items}" value="{list.category.selected}"
								   prependOptionValue="-1" prependOptionLabel="all" />
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<f:form.checkbox name="personal" value="1"  />
							<f:translate key="tx_internalnotes_label.backend_filter_personal" />
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<f:form.checkbox name="global" value="1" checked="{list.global}" />
							<f:translate key="tx_internalnotes_label.backend_filter_global" />
						</label>
					</div>
				</div>
				<f:form.submit value="{f:translate(key: 'tx_internalnotes_label.backend_filter_submit')}"
							   class="btn btn-default" />
			</f:form>
		</div>
	</div>
	<f:render partial="Table/Table" arguments="{list: list, data: internalNotes}" />
</f:section>
